NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/zenvy
NEXT_PUBLIC_MANAGER_UI_VERSION=simple
NEXT_PUBLIC_MANAGER_SUPPORT_PHONE=+8801000000000
NEXT_PUBLIC_MANAGER_SUPPORT_WHATSAPP=8801000000000
