.git
.github
.next
client/.next
server/dist
node_modules
client/node_modules
server/node_modules
.npm-cache
.pnpm-store
*.log
.env
.env.*
client/.env
client/.env.*
server/.env
server/.env.*
infra/.env
server/uploads/*
!server/uploads/.gitkeep
