PORT=4000
CLIENT_ORIGIN=http://localhost:3000
SERVER_PUBLIC_URL=http://localhost:4000
PAYSTATION_BASE_URL=https://api.paystation.com.bd
PAYSTATION_STORE_ID=
PAYSTATION_PASSWORD=
PAYSTATION_CALLBACK_URL=http://localhost:4000/api/payments/paystation/callback
PAYSTATION_MOCK=false
MONGODB_URI=mongodb://localhost:27017/zenvy
SESSION_COOKIE_NAME=zenvy_manager_session
SESSION_DAYS=30
OTP_SECRET=replace-with-a-long-random-secret
OTP_DEV_CODE=123456
MANAGER_INVITES_REQUIRED=false
BD_BULK_SMS_TOKEN=
BD_BULK_SMS_URL=https://api.bdbulksms.net/api.php?json
UPLOAD_DIR=./uploads
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/zenvy
IMAGEKIT_FIELD_FOLDER=/fields
